
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <p>


            </p>
           
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">User Name</label>
                    <input type="text" class="form-control" name="username"  [(ngModel)]="username">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="">Password</label>
                    <input type="text" class="form-control" name="password" [(ngModel)]="password">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a class="btn btn-primary"  role="button" (click)="readValues()">Login</a>
            </div>
            <a href="/signUp"> you dot have an account.? click here..!</a>
  


        </div>
    </div>
</div>